body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('background.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}
/* Add this to your styles.css or within a <style> tag in your HTML */
.hidden {
    display: none !important;
}

/*Disable Copy text*/
body {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Edge */
    -webkit-touch-callout: none; /* iOS Safari */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.custom_purple{
    background-color: #9A20AA;
}
.custom_blue{
    background-color: #1788B3;
}


#gameContainer {
    flex-grow: 1;
    width: 100vw;
    margin: 0;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: 0 0 20px #00ffcc, 0 0 30px #00ffcc, 0 0 40px #00ffcc, 0 0 50px #00ffcc; /* Neon glow effect */
}
.tile {
    position: absolute;
    box-shadow: 0 0 20px #00ffcc, 0 0 30px #00ffcc, 0 0 40px #00ffcc, 0 0 50px #00ffcc;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#topHalf {
    position: relative;
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-top: 20px;
}

#startScreen {
    position: absolute;
    top: 50vh;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px; /* Ajustează înălțimea după cum dorești */
    background-color: white;
}

.controls {
    position: absolute;
    top: 45.5vh; /* Ajustează pentru a seta poziția sub bara de progres */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls img {
    width: 2.5vh; /* Dimensiunea pentru butoanele backward și forward */
    margin: 0 1.8vh; /* Spațiere între butoane */
}

.controls img.play {
    width: 5vh; /* Dimensiunea pentru butonul play */
}

.icons
{
    width: 4vh;
    height: 4vh;
}

#newLayout {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.coin-container {
    background-color: #13DAAA;
    padding: 1.5% 13%;
    position: absolute;
    bottom: 0px;
    border-radius: 50px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    width: 100%;
}

.button-custom {
    width: 100%;
    -webkit-box-shadow: 12px 10px 16px 12px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 12px 10px 16px 12px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 12px 10px 16px 12px rgba(0, 0, 0, 0.2) inset;
}

#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;    
    border: none;
    padding: 1vh 1vh;
    cursor: pointer;
    border-radius: 100%;
    transition: transform 0.2s ease;
}

.footer-button img {
    width: 3vh;
    height: 3vh;
    transition: transform 0.2s ease;
}

.footer-button:hover img {
    transform: scale(1.2);
}

.footer-button:focus {
    outline: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    bottom: 10%;
    width: 100%; /* Full width */
    height: 50%; /* Half height */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

.popup-content {
    position: absolute;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    padding: 20px;
    border-radius: 20px 20px 0 0; /* Rounded corners on top */
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
